In [1]:
import pandas as pd

In [2]:
orig_data = pd.read_csv("data/Adult/Adult_textual.csv")

In [3]:
syn_data = pd.read_csv("gen_data.csv")

In [4]:
syn_data.columns = [ "age","workclass","fnlwgt","education","educational-num"
                                                                  ,"marital-status","occupation","relationship;",
                                                                  "race","gender","capital-gain","capital-loss",
                                                                  "hours-per-week","native-country"]

In [5]:
syn_data = syn_data.astype(int)

In [6]:
orig_data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [7]:
syn_data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship;,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,53,3,757871,7,8,3,7,2,2,0,50788,2129,49,20
1,53,4,757875,7,8,3,7,2,2,0,50108,2170,50,20
2,53,4,755318,7,8,2,6,2,1,0,50533,2173,49,20
3,53,4,755085,7,8,3,6,2,2,0,50432,2190,50,20
4,53,4,754134,7,8,3,7,2,2,0,50691,2138,49,20

In [8]:
orig_data['age'].unique()

array([25, 38, 28, 44, 18, 34, 29, 63, 24, 55, 65, 36, 26, 58, 48, 43, 20,
       37, 40, 72, 45, 22, 23, 54, 32, 46, 56, 17, 39, 52, 21, 42, 33, 30,
       47, 41, 19, 69, 50, 31, 59, 49, 51, 27, 57, 61, 64, 79, 73, 53, 77,
       80, 62, 35, 68, 66, 75, 60, 67, 71, 70, 90, 81, 74, 78, 82, 83, 85,
       76, 84, 89, 88, 87, 86])

In [9]:
syn_data.age.unique()

array([53])

In [10]:
orig_data.fnlwgt.unique()

array([226802,  89814, 336951, ..., 129912, 255835, 257302])

In [11]:
syn_data.fnlwgt.unique()

array([757871, 757875, 755318, 755085, 754134, 750414, 761403, 762731,
       754140, 758402, 749643, 762130, 753866, 755707, 751739, 758715,
       755682, 749677, 754961, 754005, 745926, 753476, 754665, 752883,
       765971, 751784, 760240, 751035, 755315, 764912, 758439])

In [12]:
import pickle

In [15]:
s = pickle.load("data/Adult/subs.pkl")

TypeError: file must have 'read' and 'readline' attributes